h1{
  font-style: oblique;
  padding-left: 300px;
  color: purple;
  text-transform: capitalize;
}

#grupi{
  font-weight: bold;
}

a{
  color: red;
  font-weight: bold;
}

/*body{

  background-color: #97ecea !important;
}*/

.form-group{
  margin-top: 10px;
}

.numri-rendor, #titujt, #pika-kufitare {
  margin-left: 10px;
}

.btn btn-primary {
  background-color: #0d1b4a !important;
}
